<configuration>
  <connectionStrings>
    <add name="DBContext" connectionString="Data Source=ipalomamysql01extra.mysql.rds.aliyuncs.com;port=3306;Initial Catalog=ly_test;user id=ly_test;password=KPUvl6Arwu;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
