<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="BusinessDBContext" connectionString="Data Source=ipalomamysql01extra.mysql.rds.aliyuncs.com;port=3306;Initial Catalog=ly_test;user id=ly_test;password=KPUvl6Arwu;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="conn" connectionString="Data Source = localhost; port = 3306; Initial Catalog = shitiku; user id = root; password = " providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
